<!doctype html>
<html lang="pt-BR">
    <head>
    
        <meta charset_"utf-8">
        <title>A Grande Piada!</title>
    </head>

    <body>
        <text>
          Porque o homem nasce com 2 ovos e não 3?
          <p>
            R:Porque um chocou e virou pinto :)
          </p>
        </text>
    </body>
    
</html>
